  header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
  }

  .logo-img {
    width: 200px;
    height: 120px;
    float: left;
    margin:20px 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: sticky;
}


/* main styling */
  .tekst-på-siderne{
    background-color: #faf9f9;
    position: center;
    width: 70%;
    padding: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  a {
    text-decoration:none;
    color: #333;
  }

  .tekst-på-siderne p, ol {
margin-top:15px;
  }

  .tekst-på-siderne .ol {
    margin-top:30px;
font-weight: bold;
      }

   h1 {
margin:20px 0;
font-size: 2rem;
color: var(--secondary-color);
  }
  
  .tekst-på-siderne ul li {
    margin: 10px 0;
}

.tekst-på-siderne ul li {
    margin-left: 40px ;
    margin-top: 10px;
}

h2 {
    margin-top: 20px;
    align-self: flex-start;
}



/* billeder/ikoner */

.søg {
    height: 25px;
}


